* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  color: red;
  text-align: center;
}

div.actions {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 8px 12px;
  border-radius: 5px;
  border-width: 0;
  background-color: rgba(37, 235, 11, 0.3);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgba(37, 235, 11, 0.8);
}

button.select {
  background-color: rgba(37, 235, 11, 1);
}

ul {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

li {
  display: flex;
  border: 1px solid skyblue;
  border-radius: 8px;
  height: 140px;
}

li img {
  width: 130px;
}

li div.content {
  padding: 3px 8px;
  width: 100%;
}

li div.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 3px double slateblue;
  padding: 3px 0px;
}
